body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.avatar{
 width: 200px;  
 height: 200px;
 background-size: cover;
 border-radius: 15px;
 transition: all 0.5s ease-in-out;
 padding: 10px;
}
.avatar:hover{
 scale: 1.1;
}
.card{
  width: 500px;
  /* margin-left: auto; 
  margin-right: auto; */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #2A2F30;
  background-color: #EBECEC;
  border-bottom: 5px solid #5D1F23;
  border-radius: 10px;
}
.border{
    border: 1px dotted brown;
}
#text{
  padding: 50px;
}
#name{
    font-family: monospace;
    font-size: 1.5rem;
    width: 10ch;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    animation: typing 2s steps(26,end), blink 0.5s step-end infinite;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 10ch;
    }
}
@keyframes blink{
        from, to {
            border-color: transparent;
        }
        50% {
            border-color: black;
        }
}
#post{
    width: 20ch;
    font-family: monospace;
    font-size: 1rem;
    animation: disclose 2s linear 0s 1 forwards;
    color: #EBECEC;
}
@keyframes disclose{
    from{
      transform: translateX(0);
    }
    to{
        transform: translateX(2px);
        color: #2A2F30;
    }
}